*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --font: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    --hover-blue: #3a86ff;
    font-family: var(--font);
}

.App{
    height: 100vh;
    /* overflow-y: scroll; */
    background-color: black;
    text-align: center;
    overflow-y: scroll;
}

.app__body{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}


.app__body__container{
    width: 1024px;
}

.App .Header{
    position: sticky;
    width: 100vw;
    top: 100px;
}