.BuyingPower{
    height: fit-content;
    color: white;
    margin: 1em 0;
}

.BuyingPower__container{
    height: fit-content;
    padding: 1em;
    border-radius: 1em;
    background-color: #fff1;
}

.BuyingPower__header{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.BuyingPower__container:hover{
    background-color: #fff2;
    cursor: pointer;
}

.BuyingPower__header span:last-child{
    position: relative;
    right: 20%;
}



.BuyingPower__add-buying-power{
    
}