#HeaderNav{
    list-style-type: none;
    background: black;
    color: aliceblue;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    font-family: var(--font);
}

.header__logo .link{
    color:white;
}

.header__logo .link {
    text-decoration: none;
    padding-left: 48px;
    width: 25px;
}

.header__searchbar{
    max-width: 440px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #31363A;
    border-radius: 5px;
}

.header__searchbar input{
    max-width: 440px;
    width: 100%;
    height: 40px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    border: 1px solid #31363A;
    border-radius: 5px;
    background-color: transparent;
    border: none;
}

.NavigationList .header__menu-items{
    padding-right: 50px;
    list-style-type: none;
    display: flex;
}

.NavigationList .header__menu-items a{
    padding-top: 10px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
}

.NavigationList .header__menu-items a:hover{
    color: #1ea5b1;
    padding-top: 15px;
    transition-duration: 0.2s;
}