.Investing{
    background-color: black;
    height: 100vh;
    overflow-y: scroll;
    color: white;
}

.Investing .LineGraph{
    width: 100%;
}

.Investing__body{
    padding: 0 10%;
}

@media(min-width: 1025px) {
    .Investing__body{
        padding: 0 20%;
    }
}

.Investing__stock-info p{
    color: #219ebc;
}

.Investing__stock-symbol p{
    margin: 2em 0;
    font-size: 25px;
    color: #3a86ff;
}


