.PortfolioOverview{
    color: white;
    padding-top: 40px;
}

.PortfolioOverview__portfolio-value{
    font-size: larger;
    text-align: left;
}

.PortfolioOverview__portfolio-value p{
    padding-top: 10px;
}

.PortfolioOverview__change-message .increase{
    color: #52e552;
}

.PortfolioOverview__change-message .decrease{
    color: #ff0000;
}

