body{
    margin: 0;
}
/*  */

#rightSide{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 40%;
    top: 0px;
    background: #03045E;
}

#signUp{
    position: relative;
    top:30%;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
}

.signUpHeader{
    color: white;
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
}

#signupForm{
    display: block;
}

.inputContainer i{
    position: absolute;
    font-size: 1.5em;
    padding: 10px 15px;
}

.icons{
    position: absolute;
    font-size: 1.5em;
    padding: 10px 15px;
}
.inputField{
    padding-left: 50px;
    margin-bottom: 2em;
    height: 3em;
    border-radius: 1em;
    border: none;
    width: 35%;
    box-sizing: border-box;
}

#signUpButton{
    color: white;
    width:  35%;
    height: 3em;
    border-radius: 1em;
    background-color: #0096C7;
    font-size: large;
}

#signUpButton:hover{
    background-color: #7cb2c5;
}


#leftSide{
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;
    
    background: url(../images/Signup.jpeg);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 50px 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}


